.toggle {
  margin: 50px 50px 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
	flex-wrap: wrap;
}
.toggle input {
  width: 0;
  height: 0;
}
.toggle input + label {
	color: white;
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: rgba(54, 54, 54, 0.747);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
	cursor: pointer;
	margin-right: 20px;
	border-radius: 10px;
}

.toggle input:hover + label{
	background: linear-gradient(87deg, #251170b3 0%, rgba(0, 0, 0, 0.7) 100%);
}

.toggle input:checked + label {
	border-radius: 10px;
  background: linear-gradient(87deg, #251170b3 0%, rgba(0, 0, 0, 0.7) 100%);
  color: #FFF;
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  z-index: 1;
}

@media (max-width: 800px) {
  .toggle input + label {
    padding: 0.75rem 0.25rem;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
		margin-top: 15px;
  }

	.toggle{
		display: block;
	}
}

@media (max-width: 600px) {
  .toggle input + label {
		margin-top: 15px;
	}
}