.fancy1{
	position: absolute;
  left: 200px;
  top: 100px;
	width: 220px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fancy2{
	position: absolute;
  left: 450px;
  top: 300px;
	width: 100px;
	transform: translatex(0px);
	animation: float2 6s ease-in-out infinite;
}

.fancy3{
	position: absolute;
  left: 250px;
  top: 500px;
	width: 260px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fancy4{
	position: absolute;
  right: 200px;
  top: 100px;
	width: 180px;
	transform: translatex(0px);
	animation: float2 6s ease-in-out infinite;
}

.fancy5{
	position: absolute;
  right: 450px;
  top: 350px;
	width: 100px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fancy6{
	position: absolute;
  right: 250px;
  top: 500px;
	width: 250px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fancy7{
	position: absolute;
  left: 300px;
  top: 800px;
	width: 100px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.fancy8{
	position: absolute;
  right: 300px;
  top: 800px;
	width: 100px;
	transform: translatex(0px);
	animation: float2 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-40px);
	}
	100% {
		transform: translatex(0px);
	}
}