body{
	background-color: rgb(14, 14, 14);
	font-family: 'Poppins', sans-serif;
}

p{
	color: white;
	font-size: 14px;
	font-weight: 300;
	line-height: 35px;
}

.hero-container{
	background: linear-gradient(87deg, #251170b3 0%, rgba(8, 8, 8, 0.7) 100%);
	background-size: cover;
	min-height: 100vh;
	background-color: rgb(14, 14, 14);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero-logo-container{
	margin-bottom: 70px;
}

.logo {
  width: 20vw;
  pointer-events: none;
}

.hero-h1-text{
	color: white;
	font-size: 56px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
}

.hero-h3-text{
	color: white;
	font-size: 26px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
}

.hero-h4-text{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
	font-style: italic;
}

.hero-logo-container{
	box-shadow: 0px 0px 5px 3px rgba(255,255,255,1);
}

.hero-btn{
	margin-top: 100px;
	width: 15vw;
	padding: 10px 20px 10px 20px;
	text-transform: uppercase;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	text-shadow: 1px 1px 2px #FFFFFF;
	font-weight: 600;
	font-size: 20px;
	box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.8);
}

.hero-btn:hover{
	background: linear-gradient(87deg, rgba(255,73,73,1) 0%, rgba(253,184,45,1) 100%);
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

.about-inner-container{
	display: flex;
	justify-content: center;
	margin: 50px;
	
}

.about-inner-right-container{
	background-color: #251170b3;
	width: 50vw;
	padding: 50px 50px 50px 50px;
}

.about-inner-left-container{
	background-color: rgb(41, 41, 41);
	width: 50vw;
	padding: 50px 50px 50px 50px;
}

.about-h4-text{
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
	font-style: italic;
}

.about-skillname-value{
	display: flex;
	justify-content: flex-start;
}

.skillname{
	margin-right: 10px;
}

.loading-name{
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}

.me-img{
	width: 300px;
}

.me-img-container{
	text-align: center;
}

.experience-inner-container{
	display: flex;
	justify-content: center;
	margin: 50px;
	
}
.experience-inner-left-container{
	background: linear-gradient(87deg, #251170b3 0%, rgba(0, 0, 0, 0.7) 100%);
	width: 100vw;
	padding: 50px 50px 50px 50px;
}

.experience-h4-text{
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #FFFFFF;
	margin-block-start: 0em;
	font-style: italic;
}

.date-text{
	font-size: 20px;
	font-weight: 300;
	margin-block-end: 0em;
}

.role-text{
	font-size: 22px;
	font-weight: 600;
	text-shadow: 1px 1px 4px #FFFFFF;
	font-style: italic;
	text-transform: uppercase;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.company-text{
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-block-start: 0em;
}

.white-line{
	background: linear-gradient(87deg, rgba(255,73,73,1) 0%, rgba(253,184,45,1) 100%);
	width: 150px;
	height: 5px;
	margin-top: 50px;
}